<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.17.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.17.1" targetFramework="net40" />
  <package id="Nancy.Serialization.ServiceStack" version="0.17.1" targetFramework="net40" />
  <package id="RexConnectClient" version="0.3.3.0" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.54" targetFramework="net40" />
  <package id="Weaver" version="0.5.0" targetFramework="net40" />
  <package id="Weaver.Exec.RexConnect" version="0.5.0" targetFramework="net40" />
</packages>