<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)Fabric.New.Domain.Schemas\bin\Debug\Fabric.New.Domain.Schemas.dll" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="Fabric.New.Domain.Schemas.Edges" #>
<#@ import namespace="Fabric.New.Domain.Schemas.Utils" #>
<#@ import namespace="Fabric.New.Domain.Schemas.Vertices" #>
<#@ output extension=".cs" #>

// GENERATED CODE
// Changes made to this source file will be overwritten

using System.Collections.Generic;
using Fabric.New.Api.Objects;

namespace Fabric.New.Operations.Traversal.Steps {

	/*================================================================================================*/
	public static class TravStepLinks {

		public static IList<ITravStep> Links = new List<ITravStep> {
<#
IList<IVertexSchema> verts = SchemaUtil.GetVertexSchemas();

foreach ( IVertexSchema v in verts ) {
	if ( v.GetAccess != Access.All ) {
		//continue;
	}

	IList<IEdgeSchema> edges = SchemaUtil.GetEdgeSchemasForVertex(v, false);

	foreach ( IEdgeSchema e in edges ) {
		string link = e.GetPropNameLink();
		string name = v.Names.Domain+link+"Step";
		string fromType = e.GetFromVertex().Names.Api;
		string toType = e.GetToVertex().Names.Api;

		IList<EdgeProperty> props = SchemaUtil.GetEdgeProperties(e);

		if ( props.Count > 0 ) {
			toType = e.GetClassNameApi(false);
		}
#>
			new TravStepLink<<#= fromType #>, <#= toType #>>("<#= link #>", "<#= e.NameDb #>"),
<#
	} // end edge loop
} // end vertex loop
#>
		};

	}

}