TABLE {
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
	font-size: 9px;
	margin-bottom: 1.2em;
	font-family: Tahoma, sans-serif;
}

THEAD {
	font-weight: bold;
	background-color: #e0e0e0;
	background-color: rgba(0,0,0,0.1);
}

TH {
	padding: 5px 8px 5px 8px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #bbb;
	word-wrap: break-word;
}

TBODY {
}

TR.odd {
	background-color: #f6f6f6;
	background-color: rgba(0,0,0,0.02);
}

TD.topBorder {
	border-top: 1px solid #e0e0e0;
}

TD {
	padding: 5px 8px 5px 8px;
	vertical-align: top;
	border-bottom: 1px solid #e0e0e0;
	vertical-align: middle;
}
	
TD.VertTop {
	vertical-align: top;
}