<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Dev_Api" value="localhost:9000" />
		<add key="Dev_RexConnPort" value="8185" />
		<add key="Dev_NodeCount" value="1" />
		<add key="Dev_NodeIp1" value="rexster" />
		<add key="Dev_Graphite" value="graphite.inthefabric.net" />
		<add key="Dev_GraphitePrefix" value="api.test" />
	</appSettings>
</configuration>