<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Nancy" version="0.18.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net40" />
  <package id="Weaver" version="0.5.4" targetFramework="net40" />
</packages>