html, body {
	margin: 0px;
	padding: 0px;
}

html, body, div, form, input {
	margin: 0;
	font-size: 12px;
}

body {
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#graph {
	position: absolute;
	width: 100%;
	height: 100%;
}

.path-text {
	font: 8px sans-serif;
	pointer-events: none;
	text-align: center;
}

.marker {
	stroke: rgba(0,0,0,0.4);
	fill: rgba(0,0,0,0.4);
}

text {
	fill: rgba(0,0,0,0.2);
	font: 10px sans-serif;
	pointer-events: none;
	z-index: 10;
}

.link {
	stroke: rgba(0, 0, 0, 0.12);
}