html, body {
	margin: 0px;
	padding: 0px;
}

html, body, div, form, input {
	margin: 0;
	font-size: 12px;
}

body {
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#graph {
	position: absolute;
	width: 100%;
	height: 100%;
}

.node {
	color: #fa8072;
}
.relationship {
	color: #87cefa;
}

.keyword {
	color: #70E0BC;
}

.function {
	color: #C370E0;
}

.link {
	stroke: rgba(0,0,0,0.2);
}

.path-text {
	font: 8px sans-serif;
	pointer-events: none;
	text-align: center;
}

.shadow {
	stroke: #000;
	stroke-width: 1.5px;
	stroke-opacity: .8;
}

.marker {
	stroke: rgba(0,0,0,0.4);
	fill: rgba(0,0,0,0.4);
}

text {
	fill: rgba(0,0,0,0.2);
	font: 10px sans-serif;
	pointer-events: none;
	z-index: 10;
}

.selected {
	stroke: red;
	stroke-width: 1.5px;
}
